<style>
        .select2 {
            width: 100% !important;
        }
        #map {
            height: 300px;
        }
        .marker {
            border: none;
            cursor: pointer;
            height: 35px;
            width: 35px;
            background-image: url(src/assets/images/locmemed.png);
            background-color: rgba(0, 0, 0, 0);
          }
    </style>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script> -->
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
    
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script> -->
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
    <div class="col-md-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Peta</h4>
              <p class="card-description"> Peta Klinik/Praktek </p>
              <div id='map'></div>
            </div>
          </div>
        </div>
        
        <div id="service" class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">LAYANAN MEDIS</h4>
              <p class="card-description"> Pilih Pelayanan Medis </p>
              <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Dokter</label>
                <div class="col-sm-9">
                  <input type="hidden" class="populate placeholder" name="docsch" id="docsch" >
                  <input type="hidden" name="docsch_hidden" id="docsch_hidden" >
                  <input type="hidden" name="regis_status" id="regis_status" >
                  <input type="hidden" name="regid" id="regid" >
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <button type="button" id="btn" class="col-lg-12 btn btn-lg mr-2" onclick="save()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        
        </div>
     </div>
    
    
    
    <script src="js/callingdoctor.js"></script>
    <script src="plugins/select2/select2.min.js"></script>
    <script type="text/javascript">
    setFieldType();
    features='';
    arr='';
    
        $(document).ready(function () {
            detailreg();
            mapInit();
            var modul = document.getElementById('modul').value;
        });
    </script>
    
    