<style>
    .select2 {
        width: 100% !important;
    }
    #map {
        height: 300px;
    }
    .marker {
        border: none;
        cursor: pointer;
        height: 35px;
        width: 35px;
        background-image: url(src/assets/images/locmemed.png);
        background-color: rgba(0, 0, 0, 0);
      }
</style>
<!-- <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script> -->
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

<!-- <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script> -->
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
<div class="col-md-12 d-flex align-items-stretch grid-margin">
  <div class="row flex-grow">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Peta</h4>
          <p class="card-description"> Peta Lokasi Rumah Sakit </p>
          <div id='map'></div>
        </div>
      </div>
    </div>
    
    <div id="service" class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">LAYANAN MEDIS</h4>
          <p class="card-description"> Pilih Pelayanan Medis </p>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Rumah Sakit/Klinik</label>
            <div class="col-sm-9">
              <!-- <input type="text" class="form-control" id="hospital" name="hospital" placeholder="Masukan Kecamatan"> -->
              <input style="width: 100%" type="hidden" class="populate placeholder" name="hospital" id="hospital" >
              <input type="hidden" name="hospital_hidden" id="hospital_hidden" >
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Poli</label>
            <div class="col-sm-9">
              <input style="width: 100%" type="hidden" class="populate placeholder" name="poly" id="poly" >
              <input type="hidden" name="poly_hidden" id="poly_hidden" >
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Dokter</label>
            <div class="col-sm-9">
              <input style="width: 100%" type="hidden" class="populate placeholder" name="docsch" id="docsch" >
              <input type="hidden" name="docsch_hidden" id="docsch_hidden" >
              <input type="hidden" name="regis_status" id="regis_status" >
              <input type="hidden" name="regid" id="regid" >
            </div>
          </div>
          <hr>
          <button type="button" id="btn" class="col-lg-12 btn btn-lg mr-2" onclick="save()"></button>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <button type="button" id="btn" class="col-lg-12 btn btn-lg mr-2" onclick="save()"></button>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div class="col-md-12 d-flex align-items-stretch grid-margin">
  <div class="row flex-grow">
    
    </div>
 </div>



<script src="js/daftaronline.js"></script>
<script src="plugins/select2/select2.min.js"></script>
<script type="text/javascript">
setFieldType();
features='';
arr='';

    $(document).ready(function () {
        detailreg();
        mapInit();
        var modul = document.getElementById('modul').value;
    });
</script>

