<div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <table id="tData" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      
      </div>
   </div>
  
  
  
  <script src="js/registrationhist.js"></script>
  <script src="plugins/select2/select2.min.js"></script>
  <script type="text/javascript">
  // Run Datables plugin and create 3 variants of settings
  function AllTables(modul){
    $('#judul1').html(modul);
    $('#judul2').html(modul);
    tableMaster(modul);
  }
  
  $(document).ready(function() {
    var modul=document.getElementById('modul').value;
    LoadDataTablesScripts(AllTables(modul));
  
  
  });
  </script>
  
  