

<style type="text/css">
	
div#tData_paginate {
  margin-bottom: -30px;
  margin-top: -26px;
}

div#tData_filter {
  margin-bottom: -14px;
  margin-top: -3px;
}
.box-form {
  background-color: white;
  margin-bottom: -10px;
}
</style>

<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#"><label>Master</label></a></li>
			<li><a href="#"><label id="judul1"> </label></a></li> 
		</ol>
	</div>
</div>


<div class="row">
	<div  class="col-md-4">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-user"></i>
					<span><label>Master</label> <label id="judul2"> </label></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>

			<div class="box-content no-padding table-responsive">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="tData">
 				</table>	
			</div>
		</div>
	</div>

	<div  class="col-md-8">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-user"></i>
					<span><label>INPUT / EDIT</label></label></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-form">
				
				<div id="forminput" style="margin-bottom:10px;background-color:#FFFFFF"></div>				
				<center>
				<button type="button" class="btn btn-default btn-label-left" onclick="deleteData()"><span><i class="fa fa-times"></i></span>DELETE</button>
				<button type="button" class="btn btn-default"  onclick="newdata()"><span>NEW</span></button>
				<button type="button" class="btn btn-default btn-label-right" onclick="save()">&nbsp;SAVE<span><i class="fa fa-save"></i></span> </button>
				</center>
			</div>	



		</div>

	</div>

</div>


<script src="js/master.js"></script>
<script src="plugins/select2/select2.min.js"></script>
<script src="plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>

<script type="text/javascript">

// Run Datables plugin and create 3 variants of settings
function AllTables(modul){
	$('#judul1').html(modul);
	$('#judul2').html(modul);
	tableMaster(modul);
}



$(document).ready(function() {
	var modul=document.getElementById('modul').value;
	LoadDataTablesScripts(AllTables(modul));
	
	$('.form-control').tooltip();
	WinMove(); 

});
</script>


