<style>
    .select2 {
        width: 100% !important;
    }
</style>
<div class="col-md-12 d-flex align-items-stretch grid-margin">
  <div class="row flex-grow">
    <div class="col-lg-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Form Master</h4>
          <p class="card-description"> Master </p>
          <form class="forms-sample">
            <div id="forminput"></div>
            <button type="button" class="btn btn-success mr-2" onclick="save()">Submit</button>
            <button type="button" class="btn btn-danger mr-2" onclick="deleteData()">Delete</button>
            <button type="button" class="btn btn-secondary mr-2" onclick="newdata()">Clear</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tabel Master</h4>
          <p class="card-description"> Kelola data master </p>
          <!-- <table class="table" id="tData">
          </table> -->
          <table id="tData" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"> 
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/master.js"></script>
<script src="plugins/select2/select2.min.js"></script>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(modul){
  $('#judul1').html(modul);
  $('#judul2').html(modul);
  tableMaster(modul);
}

$(document).ready(function() {
  var modul=document.getElementById('modul').value;
  LoadDataTablesScripts(AllTables(modul));


});
</script>