<!-- <div class="row">
	<div  class="col-md-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-user"></i>
					<span><label>Setup</label> <label id="judul2"> </label></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>

			<div class="box-content no-padding table-responsive">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="tData">
 				</table>	
			</div>
		</div>
	</div>

	<div  class="col-md-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-user"></i>
					<span><label>INPUT / EDIT</label></label></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-form">
				
				<div id="forminput" style="margin-bottom:10px;background-color:#FFFFFF"></div>
				<center>
				<button type="button" class="btn btn-default btn-label-right" onclick="save()">SAVE<span><i class="fa fa-save"></i></span> </button>
				</center>

			</div>	
		</div>

	</div>

</div> -->
<div class="col-md-12 d-flex align-items-stretch grid-margin">
  <div class="row flex-grow">
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tabel Master</h4>
          <p class="card-description"> Kelola data master </p>
          <!-- <table class="table" id="tData">
          </table> -->
          <table id="tData" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"> 
        </table>
        </div>
      </div>
    </div>
    <div class="col-lg-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Form Master</h4>
          <p class="card-description"> Master </p>
          <form class="forms-sample">
            <div id="forminput"></div>
            <button type="submit" class="btn btn-success mr-2" onclick="save()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/rolemenu.js"></script>

<script type="text/javascript">

// Run Datables plugin and create 3 variants of settings
function AllTables(modul){
	$('#judul1').html(modul);
	$('#judul2').html(modul);
	tableMaster(modul);
}

$(document).ready(function() {
	var modul=document.getElementById('modul').value;
	LoadDataTablesScripts(AllTables(modul));
	WinMove(); 

});
</script>


